body{
    margin: 0;
    font-size: 1rem;
}
.layout {
height: 100%;
width: 100%;
display:flex;
flex-direction: column;
}
.header {
    text-align: center;
    padding: 30px 0;
    background-color: beige;

}
.header h1 {
    margin: 0 0 15px 0;
}
.header select{
    font-size: 1rem;
    box-shadow: 1rem;
}
.slideshow{
    flex:1;
    background-color: 3012;
    position: relative;
    overflow: auto;
}
.slide{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    transform: scale(1);
    transition: all .9s ease-out;
}
.slide:nth-last-child(2){
    opacity: 1;
    transform: scale(1.08);
}