body{
    margin: 0;
    font-size: 1rem;
}
.layout {
height: 80%;
width: 100%;
display:flex;
flex-direction: column;
}
.header {
    text-align: center;
    padding: 30px 0;
    background-color: beige;

}
.header h1 {
    margin: 0 0 15px 0;
}